#modal1.modal.modal-fixed-footer
  .modal-content
    conference-configuration
  .modal-footer
    button.modal-action.modal-close.waves-effect.waves-green.btn-flat(ng-click='wizard.nextStep()',type="submit") Suivant 