meta(property="og:url" content="https://allofinek.ma")
meta(property="og:site_name" content="allofinek.ma")
meta(property="og:type" content="website")
meta(property="og:title" content="allofinek.ma, AlloFinek.ma,video-conférence par excellence")
meta(property="og:description" content="ALLO FINEK est le produit 100% Marocain de conférence vidéo ideal qu'il vous faut . En un seul clic , vous pouvez faire des reunions en ligne efficace , efficient et gratuit ! Oubliez les inscriptions et les téléchargements de logiciel , ce dernier vous accorde du temps , de la qualité et de la facilité .")
meta(property="og:image" content="https://allofinek/images/logo.png")
