.row
  .col.m3.s12 
    img.logo3(src="images/logo.png")
  .col.m9.s12
    h4.brown-text  Vous souhaite la bienvenue
.row
  form(name="usernameForm")
    .row
      .input-field
        i.material-icons.prefix account_circle
        input#name(type='text', trim='true',ng-model='configuration.displayName',name='displayname', ng-change='onUsernameChange()', auto-focus="true")
        label(for='name') Veuillez tapez votre Pseudo ici ..
    .row
      .col.m8.s12.offset-m2
        strong  Choisissez la qualité video selon votre bande passante 
    bitrate-configuration
    br
    .center
      button.waves-effect.waves-light.btn(type='button',ng-click='copyCurrentUrl()')
        i.material-icons.left  library_books 
        |               Copier le lien
      button.waves-effect.waves-light.btn.blue.lighten-1(type="button",ng-click='sendUrl()')
        i.mdi.mdi-facebook-messenger(aria-hidden='true')
        |  Inviter via Facebook